.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Game {
  display: block;
  margin: auto;
  margin-top: 2em;
  background: gray;
  height: 50em;
  width: 70%;
}

.Snake {
  top: 0; left: 0;
  margin: auto;
  margin-top: 5em;
  width: 80%;
  height: 60%;
  background: black;
}  

.Buttons {
  display: flex;
}


.leftButtonGroup {
  width: 50%;
}

.rightButtonGroup {
  height: 50%;
  width: 50%;
}

#rightButtonGroup {
  width: 50%;
  height: 50%;
}

@media only screen and (max-width: 768px) {
  .Game {
    margin: 0;
    width: 100%
  }
}